
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>Nathan Maher Levy Portfolio</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
    <!-- header section starts -->
    <header class="header_section">
        <div class="header_top">
          <div class="container-fluid header_top_container">
            <div class="contact_nav">
              <a href="/">
                  <img height="" src="../images/evie.png">
              </a>
              <a href="/bio">About Me</a>
              <a href="/skills">Skills</a>
              <a href="/academic_projects">Academic Projects</a>
              <a href="/professional_projects">Professional  Projects</a>
              <a href="/personal_projects">Personal Projects</a>
            </div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header section -->

  <!-- academic projects section -->
  <section class="contact_section ">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <img src="images/bu_logo.png" class="box_img" alt="about img">
          </div>
          <div class="img-box ">
            <img src="images/bu_cs_dept.png" class="box_img" alt="about img">
        </div>
        </div>
        <div class="col-md-5 mx-auto">
            <div class="heading_container heading_center">
            </br>
                <h2>Academic Projects</h2>
              </div>
              <dl class="projects">
                  <dt><a href="https://github.com/nathanml/Bank-Project">Bank ATM</a></dt>
                  <dd>An online banking application built in Java and 
                      MySQL that allows users to open accounts, sign in, 
                      view account information, deposit and withdraw funds,
                       open loan accounts, make payments, view transactions, 
                       and interact with an ATM and virtual stock market.</dd>
                  <dt><a href="https://github.com/nathanml/QuestOfLegends">Quest of Legends</a></dt>
                  <dd>A magical multiplayer team game built in Java that features spells,
                      heroes, monsters, potions, weapons, and more.</dd>
                  <dt><a href="https://github.com/nathanml/TicTacToe-Java">Tic Tac Toe/Order and Chaos</a></dt>
                  <dd>A two-player Tic Tac Toe game built with Java. Can be expanded to a 6x6 Order and Chaos game.</dd>
                  <dt><a href="https://github.com/nathanml/Social-Networking-Application">Social Networking Application</a></dt>
                  <dd>A multithreaded social media application built in Java using socket programming that allows 
                      users to become friends with one another, post statuses, and message their friends.</dd>
                  <dt><a href="https://github.com/nathanml/SpotiMaster">SpotiMaster</a></dt>
                  <dd>A web application built using a Python Django framework that links
                       to a user’s Spotify account and provides a list of recommended 
                       concerts based on their music preference, location, and price
                        range.</dd>
                  <dt><a href="https://github.com/nathanml/Raskell63">Raskell63</a></dt>
                  <dd>A programming language built using Haskell that supports ints,
                       floats, characters, strings, lists, comments, a sequencing infix operator,
                        arithmetic, relational and Boolean operators.
                  </dd>
              </dl>
        </div>
      </div>
    </div>
  </section>
  <!-- end academic projects section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="index.html">
              Useful Links
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
                <a href="mailto:nathan.m.levy@gmail.com">Contact Me</a>
                <div class="social_box">
                    <a href="https://www.linkedin.com/in/nathan-maher-levy-a28883164/">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/nathanml">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info_detail">
                <div class="">
                    <ul class="info_menu">
                      <li>
                        <a href="/">
                          Home
                        </a>
                      </li>
                      <li>
                        <a href="/bio">
                          About
                        </a>
                      </li>
                      <li>
                          <a href="/professional_projects">
                            Professional Projects
                          </a>
                        </li>
                      <li>
                        <a href="/academic_projects">
                          Academic Projects
                        </a>
                      </li>
                      <li>
                          <a href="/personal_projects">
                            Personal Projects
                          </a>
                        </li>
                    </ul>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->
</body>

</html>