
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/fevicon.png" type="image/x-icon">
  <title>Nathan Maher Levy Portfolio</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
</head>

<body>
    <!-- header section starts -->
    <header class="header_section">
        <div class="header_top">
          <div class="container-fluid header_top_container">
            <div class="contact_nav">
              <a href="/">
                  <img height="" src="../images/evie.png">
              </a>
              <a href="/bio">About Me</a>
              <a href="/skills">Skills</a>
              <a href="/academic_projects">Academic Projects</a>
              <a href="/professional_projects">Professional  Projects</a>
              <a href="/personal_projects">Personal Projects</a>
            </div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header section -->
      
  <!-- Bio section -->

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box pr-md-2">
            <div class="heading_container">
              <h2 class="">
                About Me
              </h2>
            </div>
            <p class="detail_p_mt">
              I am a software engineer with four years of professional experience designing and developing cloud-based technology solutions. I specialize in object-oriented programming, APIs, and distributed systems. As a tech lead, I have delivered award-winning enterprise services to production.
            </p>
            <p class="detail_p_mt">
              Currently, I work on developing enterprise cloud-based microservices at Citizens Financial Group, where I am tech lead of a pod that has worked on several core banking initiatives, tackling complex problems such as electronic signature capture, claim disputes, and rapid home equity loan approval. 
            </p>
            <p class="detail_p_mt">
              Additionally, I am completing my Masters of Science in Computer Science from Tufts University School of Engineering.
            </p>
            <p class="detail_p_mt">
              Outside of work, I love to play piano, go hiking, volunteer, read, go to movies, and cuddle with my very spoiled kitty, Evie.
            </p>
          </div>
        </div>
        <div class="col-md-6 px-0">
          <div class="img-box ">
            <img src="images/profile.jpg" class="box_img" alt="about img">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="row">
          <div class="col-md-3 ">
            <a class="navbar-brand" href="index.html">
              Useful Links
            </a>
          </div>
          <div class="col-md-5 ">
            <div class="info_contact">
                <a href="mailto:nathan.m.levy@gmail.com">Contact Me</a>
                <div class="social_box">
                    <a href="https://www.linkedin.com/in/nathan-maher-levy-a28883164/">
                      <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/nathanml">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info_bottom">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info_detail">
                <div class="">
                    <ul class="info_menu">
                      <li>
                        <a href="/">
                          Home
                        </a>
                      </li>
                      <li>
                        <a href="/bio">
                          About
                        </a>
                      </li>
                      <li>
                          <a href="/professional_projects">
                            Professional Projects
                          </a>
                        </li>
                      <li>
                        <a href="/academic_projects">
                          Academic Projects
                        </a>
                      </li>
                      <li>
                          <a href="/personal_projects">
                            Personal Projects
                          </a>
                        </li>
                    </ul>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->
</body>

</html>