<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIO</title>
</head>
<body>
    <link href="../styles/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/960.css" typpe="text/css" rel="stylesheet"/>
    <div class="container_12">
        <div class="grid_1"> 
            <header>
                <h1>Nathan Maher Levy Portfolio</h1>
                <ul class="navigation">
                    <li class="link"><a href="/bio">About Me</a></li>
                    <li class="link"><a href="/academic_projects">Academic Projects</a></li>
                    <li class="link"><a href="/professional_projects">Professional Projects</a></li>
                    <li class="link"><a href="/personal_projects">Personal Projects</a></li>
                    <li class="link"><a href="https://github.com/nathanml">Github</a></li>
                    <li class="link"><a href="https://www.linkedin.com/in/nathan-maher-levy-a28883164/">LinkedIn</a></li>
                    <li class="link"><a href="mailto:nathan.m.levy@gmail.com">Contact Me</a>
                    </li>
                </ul>
            </header id="header">
        </div> 
    BIO WILL GO HERE
</body>
</html>