<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <link href="../styles/styles.css" type="text/css" rel="stylesheet"/>
    <link href="../styles/960.css" typpe="text/css" rel="stylesheet"/>
    <div class="grid_1"> 
        <header>
            <h1>Nathan Maher Levy Portfolio</h1>
            <ul class="navigation">
                <li class="link"><a href="/bio">About Me</a></li>
                <li class="link"><a href="/skills">Skills</a></li>
                <li class="link"><a href="/academic_projects">Academic Projects</a></li>
                <li class="link"><a href="/professional_projects">Professional Projects</a></li>
                <li class="link"><a href="/personal_projects">Personal Projects</a></li>
                </li>
            </ul>
        </header id="header">
    </div> 
    <div class="section" id="personal_projects">
        <h2 class="personal_projects">Personal Projects</h>
        <br />
        <br />
        <img src="../images/BostonHacks.jpg" width="150" height="150" />
        <img src="../images/hackbeanpot.png" width="150" height="150"/>
        <dl class="projects">
            <dt><a href="https://www.brownchapteraaup.org/">Brown AAUP</a></dt>
            <dd>An informational website for the Brown University Association for Union Professors.</dd>
            <dt><a href= "https://github.com/nathanml/Reddit-Project">Reddit Project</a></dt>
             <dd>An application built in Python that outputs current top posts from Reddit threads specified by the user.</dd>
             <dt><a href= "https://github.com/nathanml/SquirliWhirli">SquirliWhirl</a></dt>
             <dd>A telehealth platform for seniors built using Node, React, and MySQL for scheduling appointments and consulting with doctors and care providers over video chat.</dd>
             <dd><a href="https://github.com/sarah256/lingo-learner">Yo-Setta Stone</a></dd>
             <dt>A web application built using Python, Flask, and TensorFlow that uses Natural Language Processing to define slang words for users based on the word's context in tweets.</dt>
        </dl>
    </div>
    <footer class="footer">
        <div class="footer_nav">
            <li class="footer_link"><a href="mailto:nathan.m.levy@gmail.com">nathan.m.levy@gmail.com</a></li>
            <li class="footer_link"><a href="https://github.com/nathanml">Github</a></li>
            <li class="footer_link"><a href="https://www.linkedin.com/in/nathan-maher-levy-a28883164/">LinkedIn</a></li>
        </div>
    </footer>
</body>
</html>