* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    padding: 5px;
    /* background-color:rgb(102,205,170);*/
}
header{
    border: 2px solid;
    font-weight: 600;
    padding: 0px;
    text-align: center;
    background-color:rgb(171, 247, 221);
    opacity: 1.5;
    height: 130px;
}
h1{
    background-color:rgb(171, 247, 221);
    opacity: 1.5;
}
img.profile{
    padding-top: 20px;
    background-color:whitesmoke;
    opacity: 1.5;
    height: 200px;
    width: 200px;
    display: inline;
    
}
ul.navigation{
    width:570px;
    height:15px;
    margin:10px auto 10px auto;
    background-color:rgb(171, 247, 221);
    opacity: 1.5;
    text-align: center;
    display:inline;
}
li.link{
    display:inline;
    margin: center
}
div.academic_projects{
    text-align: center;
    background-color: whitesmoke;
}
div.section{
    display:flow-root;
    margin-bottom: 200px;
    height: 300px;
    width:400px;
}
p.bio{
    text-align: left;
    height: 250px;
    width: 400px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: large;
    /* border: 10px ridge rgb(171, 247, 221); */
    padding: 15px;
    /* box-shadow: 5px 5px; */
    position: absolute;
    top:350px;
}
div.programming{
    text-align: center;
    height: 240px;
    width: 180px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    border: 10px ridge rgb(171, 247, 221);
    padding: 15px;
    padding-top: 5px;
    box-shadow: 5px 5px;
    position: absolute;
    left: 900px;
    top:170px;
}
div.database{
    text-align: center;
    height: 100px;
    width: 300px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    border: 10px ridge rgb(171, 247, 221);
    padding: 15px;
    padding-top: 5px;
    box-shadow: 5px 5px;
    position: absolute;
    left: 780px;
    top:460px;
}
div.cicd{
    text-align: center;
    height: 220px;
    width: 150px;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    border: 10px ridge rgb(171, 247, 221);
    padding: 15px;
    padding-top: 5px;
    box-shadow: 5px 5px;
    position: absolute;
    left: 650px;
    top:200px;
}
div.skills{
    height:220px;
    width:150px;
    text-align: center;
    text-transform: capitalize;
    font-weight: normal;
    font-size: large;
    border: 10px ridge rgb(171, 247, 221);
    padding: 15px;
    box-shadow: 5px 5px;
    position: absolute;
    left: 450px;
    top:380px;
}
ul.tools{
    list-style-type: circle;
    list-style-position: outside;
}
li.bullet{
    margin:1px
}
img.dbpic{
    height:100px;
    width:100px;
    position: absolute;
    left: 300px;
    top:40px;
}
img.cicdpic{
    height:100px;
    width:130px;
    position: absolute;
    left: 120px;
    top:100px;
}